<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/edit/<%=todo._id%>?_method=PATCH" method="POST">
            <label for="title" class="">Title: </label>
            <div class="">
                <input type="text" class="" id="title" name="title" value="<%=todo.title%>">
            </div>
            <label for="desc" class="">Desc: </label>
            <div class="">
                <input type="text" class="" id="desc" name="desc" value="<%=todo.desc%>">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>