<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div>
        <h1>MY TODO LIST</h1>
        <div class="alldata">
            <% for(let task of alltodo){ %>
                <div class="single">
                    <h2>Title: <%= task.title %></h2>
                    <h4>Desc: <%= task.desc %></h4>
                    <a href="/show/<%=task._id%>">View</a>
                    <form action="/<%=task._id%>?_method=DELETE" method="POST">
                        <button type="submit">DELETE</button>
                    </form>
                </div>
            <% } %>
        </div>
        <a href="/new">Add a new Todo</a>
    </div>
</body>
</html>