h1{
    text-align: center;
}

.alldata{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
}

.single{
    margin-bottom: 10px;
    color: rgb(73, 19, 76);
    width: 320px;
    height: 320px;
    background-color: antiquewhite;
    margin-right: 40px;
}