<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div>
        <div class="alldata">
            <div class="single">
                <h2> Title: <%= todo.title %></h2>
                <h4>Desc: <%= todo.desc %></h4>
                <a href="/edit/<%=todo._id%>">EDIT</a>
                <a href="/todo">Home</a>
            </div>
        </div>
    </div>
</body>
</html>